/********************************************

NOTES
	- 	This is the primary CSS file.  All code pertaining specifically to
		this project should live in here.

	RESOURCES
		-	https://loremipsum.io/
		- 	https://codepen.io/
		- 	https://cdnjs.com/

	HELP
		- 	https://caniuse.com/
		- 	https://css-tricks.com/

	MISC. NOTES
		- 	.clearfix - clearfix interferes with flexbox code, 
			as the :after is treated as a normal child element.
			Do not clearfix on a flex element

	  

********************************************/

/********************************************

GENERAL

********************************************/
	

	/***** Box-Size Reset - global border-box *****/
	  
	  html {
	    box-sizing: border-box;
	  }
	  *, *:before, *:after {
	    box-sizing: inherit;
	  }

	/***** Global *****/

	  html, body{
	    padding:0;
	    margin:0;
	    box-sizing:border-box;
	    
	  }

	  html {
	    /*scroll-behavior: smooth;*/
	    font-size: 10px;
	  }

	  body{
	    overflow-x:hidden;
	    height:100%;
	    font-family: 'typewriter', 'Courier New', serif;
		font-size:1.6rem;
		letter-spacing: 0.0625em;
		background-color: var(--white);
		color: var(--black);
	  }

	  ::selection {
	   
	  }
	  ::-moz-selection {
	    
	  }

	  .clearfix:after {
	    content: "";
	    display: table;
	    clear: both;
	  }



	  a{
	    cursor: pointer;
	    color: inherit;
	    text-decoration: none;
	  }

	  img{
	    max-width:100%;
	  }
	  
	  input[type="submit"]{
	    cursor: pointer;
	    border: none;
	    -webkit-appearance: none;
	  }


	  /***** Mobile Flex Direction *****/

	    @media all and (max-width: 1000px) {
	      [mobile-flex]>*{
	        width: 100% !important;
	      }
	      [mobile-flex="column"]{
	        flex-direction: column !important;
	      }
	      [mobile-flex="column-reverse"]{
	        flex-direction: column-reverse !important;
	      }
	    }

	   /***** Container *****/
	   	.container{
	   		width: 100%;
	   		max-width: 1250px;
	   		margin: auto;
	   	}




/********************************************

HOME

********************************************/
	
	/*****  HERO / SLIDER  *****/




	/*****  PRODUCT GRID  *****/
		.product_grid{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}

		.product_grid-cell{
			display: flex;
			align-items: center;
			justify-content: center;

			width: 33.333%;
			padding: 35px;
		}

		/*****  PRODUCT CELLS  *****/
			.product_grid-cell-inner{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 15px;
				box-shadow: var(--shadow-1);
			}

			.product_grid-cell-inner>.image{
				height: 300px;
				width: auto;
			}

			.product_grid-cell-inner>.title{
				font-size: 2.4rem;
				margin-bottom: 15px;
			}

			.product_grid-cell-inner>.blurb{
				margin-bottom: 15px;
				height: 100px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

			.product_grid-cell-inner>.cta{
				background-color: var(--black);
				color: var(--white);
				padding: 5px 15px;
				font-size: 1.8rem;
			}