/********************************************

NOTES
	- 	This is the primary CSS file.  All code pertaining specifically to
		this project should live in here.

	RESOURCES
		-	https://loremipsum.io/
		- 	https://codepen.io/
		- 	https://cdnjs.com/

	HELP
		- 	https://caniuse.com/
		- 	https://css-tricks.com/

	MISC. NOTES
		- 	.clearfix - clearfix interferes with flexbox code, 
			as the :after is treated as a normal child element.
			Do not clearfix on a flex element

	  

********************************************/

/********************************************

GENERAL

********************************************/
	

	/***** Box-Size Reset - global border-box *****/
	  
	  html {
	    box-sizing: border-box;
	  }
	  *, *:before, *:after {
	    box-sizing: inherit;
	  }

	/***** Global *****/

	  html, body{
	    padding:0;
	    margin:0;
	    box-sizing:border-box;
	    
	  }

	  html {
	    /*scroll-behavior: smooth;*/
	    font-size: 10px;
	  }

	  body{
	    overflow-x:hidden;
	    height:100%;
	    font-family: 'typewriter', 'Courier New', serif;
		font-size:1.6rem;
		letter-spacing: 0.0625em;
		line-height: 1.2;
		background-color: var(--white);
		color: var(--black);
	  }

	  ::selection {
	   
	  }
	  ::-moz-selection {
	    
	  }

	  .clearfix:after {
	    content: "";
	    display: table;
	    clear: both;
	  }



	  a{
	    cursor: pointer;
	    color: inherit;
	    text-decoration: none;
	  }

	  img{
	    max-width:100%;
	    height: auto;
	  }
	  
	/***** Basic Form styling *****/
		input{
			font-family: 'typewriter', 'Courier New', serif;
		}
		input[type="submit"]{
			cursor: pointer;
			border: none;
			-webkit-appearance: none;
		}
		
		
	

	/***** Container *****/
		.container{
			width: 100%;
			max-width: 1250px;
			margin: auto;
			padding: 0 35px;
		}



/********************************************

GENERAL - ADVANCED

********************************************/
	/***** Mobile Flex Direction *****/
		@media all and (max-width: 1000px) {
			[mobile-flex]>*{
				width: 100% !important;
			}
			[mobile-flex="column"]{
				flex-direction: column !important;
			}
			[mobile-flex="column-reverse"]{
				flex-direction: column-reverse !important;
			}
		}

	/***** CUSTOM UL *****/
		.--ul_icon{
			list-style: none;
		}
		.--ul_icon>li{
			margin-bottom: 5px;
		}
		.--ul_icon>li:before{
			content: '>';
			padding-right: 10px;
		}

	


/********************************************

BODY WRAPPERS

********************************************/
	/***** BACKGROUND *****/
		
		.--dma_bg{
			content:'';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			pointer-events: none;
			background-color: #f9f9f9;
			background-image: url("/img/textures/lined-paper-2.png");

			display: none;
		}

		.content_wrapper{
			z-index: 10;
			padding-top: 35px;
		}

		body{
			background-image: url("/img/textures/lined-paper-2.png");
			background-position: center top;
		}


/********************************************

HEADER / NAV

********************************************/

	.--dma_header{
		padding: 35px 0;
	}
	.--dma_header>.container{
		/*max-width: 1650px;*/
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}
	/***** Logo / Name *****/
		.--dma_header>.container>.logo{
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-right: 50px;
			font-size: 3.2rem;
			color: var(--white);
		}
		.--dma_header>.container>.logo:hover{
			text-decoration: underline;
		}

	/***** Links *****/
		.--dma_header>.container>.links{
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			color: var(--white);
		}
		.--dma_header>.container>.links li{
			margin:0px 10px;
			font-size: 1.8rem;
		}
		.--dma_header>.container>.links a:hover{
			text-decoration: underline;
		}



/********************************************

FOOTER

search: --footer;

********************************************/

	.--dma_footer{
		margin-top: 100px;
		padding: 50px 0 25px;
		background-color: var(--black);
		color: var(--white);
	}

	/***** Upper *****/
		.--dma_footer .upper{
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
		
		.--dma_footer .upper>.form{
			display: inline-block;
		}
		.--dma_footer .upper>.form .title{
			font-size: 2.4rem;
			margin-bottom: 5px;
		}


	/***** Lower *****/
		.--dma_footer .lower{
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
			border-top: solid 2px;
			margin-top: 35px;
			padding-top: 35px;
			font-size: 1.8rem;
		}
		.--dma_footer .lower li{
			margin-bottom: 10px;
		}
		.--dma_footer .lower a{
			padding:3px 3px 0px;
			border-bottom: solid 2px ;
			display: inline-block;
			
		}
		.--dma_footer .lower a:hover{
			color: var(--black);
			background-color: var(--white);

		}


		.--dma_footer .lower .title{
			font-size: 2.4rem;
			margin-bottom: 5px;
		}

		.--dma_footer .lower>.links{
			width: calc(100% - 350px);
		}
		.--dma_footer .lower>.legal{
			width: 350px;
		}

/********************************************

GLOBAL ELEMENTS

********************************************/

/***** Breadcrumb *****/
	.breadcrumb{
		margin-bottom: 25px;
		font-size: 1.4rem;
	}
	.breadcrumb i{
		margin: 0 15px;
	}
	.breadcrumb i:first-of-type{
		margin-left: 0;
	}
	.breadcrumb a:hover{
		text-decoration: underline;
	}
	.breadcrumb .current{
		font-weight: 600;
	}



/********************************************

FORMS

********************************************/

/***** Basic Form - just email *****/
	.--dma_form_basic{
		display: flex;
		align-items: stretch;

	}
	.--dma_form_basic input{
		background: transparent;
		height: 100%;
		border: 2px solid var(--white);

		padding: 5px 15px;
		font-size: 2.4rem;
		border-radius: 0px;
	}

	.--dma_form_basic .button{
		background-color: var(--black);
		color: var(--white);
		display: inline-block;
		border-left: none;
	}
	.--dma_form_basic .button:hover{
		text-decoration: underline;
	}


/********************************************

HOME

********************************************/
	
	/***** HERO / SLIDER *****/


	/***** Home 1 *****/
		.--dma_home_1{
			margin-bottom: 100px;
		}
		
		/***** Heading *****/
			.--dma_home_1>.heading{
				text-align: center;
				font-size: 3.5rem;
			}
			.--dma_home_1>.heading>.inner{
				background-color: var(--black);
				font-size: var(--font_heading_1);
				font-family: var(--label-r);
				display: inline-block;
				padding: 15px 25px;
				transform: rotate(-1.1deg);
			}
			.--dma_home_1>.heading>.inner>* {
				color: var(--white);
				transform: rotate(1.2deg);
			}

	/***** PRODUCT GRID *****/
		.--dma_product_grid{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			list-style: none;
		}

		.product_grid-cell{
			display: flex;
			align-items: center;
			justify-content: center;

			width: 33.333%;
			padding: 35px;
		}

		/***** PRODUCT CELLS *****/
			.product_grid-cell-inner{
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;
				padding: 15px;
				background-color: var(--white);
				box-shadow: var(--shadow-1);
				transition: .25s ease-in-out;
			}


			/***** PRODUCT STATUS *****/

				/***** Coming Soon *****/
					.product_grid-cell-inner.coming_soon{
						
					}
					.product_grid-cell-inner.coming_soon:before{
						content: '';
						position: absolute;
						z-index: 4;
					}
					.product_grid-cell-inner.coming_soon:after{
						content: 'COMING SOON';
						font-family: 'label-reverse';
						position: absolute;
						left: 50%;
						top: 25%;
						width: calc(100% + 65px);
						transform: translate3d(-50%, 0, 0) rotate(-25deg);
						padding: 5px 15px;
						background-color: var(--black);
						color:var(--white);
						font-size: 3.5rem;
						text-align: center;
						z-index: 5;
					}


				/***** Planning Build *****/
					.product_grid-cell-inner.planning_build{
						pointer-events: none;

					}
					.product_grid-cell-inner.planning_build:before{
						content: '';
						position: absolute;
						height: 100%;
						width: 100%;
						background-color: #333;
						opacity: .75;
						z-index: 4;
					}
					.product_grid-cell-inner.planning_build:after{
						content: 'PLANNING BUILD';
						font-family: 'label-reverse';
						position: absolute;
						left: 50%;
						top: 25%;
						width: calc(100% + 65px);
						transform: translate3d(-50%, 0, 0) rotate(-25deg);
						padding: 5px 15px;
						background-color: var(--black);
						color:var(--white);
						font-size: 3.5rem;
						text-align: center;
						z-index: 5;
					}

					.product_grid-cell-inner.planning_build .img_wrapper{
						opacity: 0;
					}
				/***** Out of Stock *****/
					.product_grid-cell-inner.out_of_stock{
						
					}
					/*.product_grid-cell-inner.out_of_stock:before{
						content: '';
						position: absolute;
						height: 100%;
						width: 100%;
						z-index: 4;
					}*/
					.product_grid-cell-inner.out_of_stock:after{
						content: 'OUT OF STOCK';
						font-family: 'label-reverse';
						position: absolute;
						left: 50%;
						top: 25%;
						width: calc(100% + 65px);
						transform: translate3d(-50%, 0, 0) rotate(-25deg);
						padding: 5px 15px;
						background-color: var(--black);
						color:var(--white);
						font-size: 3.5rem;
						text-align: center;
						z-index: 5;
					}
			

			.product_grid-cell-inner .img_wrapper{
				height: 300px;
				padding: 0 15px;
				margin-bottom: 25px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.product_grid-cell-inner .img_wrapper>.image{
				max-height: 100%;
				
				/*filter: 
				drop-shadow(0 1px 2.2px rgba(0, 0, 0, 0.056))
				drop-shadow(0 2.3px 5.3px rgba(0, 0, 0, 0.081))
				drop-shadow(0 4.4px 10px rgba(0, 0, 0, 0.1))
				drop-shadow(0 7.8px 17.9px rgba(0, 0, 0, 0.119))
				drop-shadow(0 14.6px 33.4px rgba(0, 0, 0, 0.144))
				drop-shadow(0 35px 80px rgba(0, 0, 0, 0.2));
				*/
			}

			.product_grid-cell-inner .title{
				font-size: 2.4rem;
				padding-bottom: 5px;
				margin-bottom: 15px;
				border-bottom: 2px solid var(--black);
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				min-height: 65px;
			}

			.product_grid-cell-inner .blurb{
				margin-bottom: 15px;
				height: 150px;
				line-height: 1.2;
				padding: 0px 15px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				text-align: justify;
			}

			.product_grid-cell-inner .link{
				background-color: var(--black);
				color: var(--white);
				font-family: var(--label-r);
				padding: 5px 15px;
				font-size: 3.6rem;
			}
			.product_grid-cell-inner .link:hover{
				text-decoration: underline;
			}


/********************************************

Product Page

********************************************/


		/***** Heading *****/
			.--dma_product_post_1_1>.heading{
				text-align: center;
				margin: 35px 0px;
			}
			.--dma_product_post_1_1>.heading>.inner{
				background-color: var(--black);
				font-size: var(--font_heading_1);
				font-family: var(--label-r);
				display: inline-block;
				padding: 15px 25px;
				transform: rotate(-1.1deg);
			}
			.--dma_product_post_1_1>.heading h1{
				color: var(--white);
				transform: rotate(1.2deg);
			}
		/***** Slider & Info *****/
			.--dma_product_post_1_1>.layout{
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				justify-content: center;
				flex-wrap: wrap;
			}
			.--dma_product_post_1_1>.layout>.slider{
				width: 600px;
			}
			.--dma_product_post_1_1>.layout>.info{
				width: calc(100% - 600px);
			}

			/***** Slider *****/
				.--dma_product_post_1_1>.layout>.slider{
					padding: 50px;
				}
				.--dma_product_post_1_1>.layout>.slider .swiper-wrapper{
					
				}
				.--dma_product_post_1_1>.layout>.slider .product_slider{
					padding: 0 50px;
				}
				/***** Slide Content *****/
					.--dma_product_post_1_1>.layout>.slider .product_slider .swiper-slide{
						display: flex;
						align-items: center;
						justify-content: center;
						
					}
					.--dma_product_post_1_1>.layout>.slider .product_slider .swiper-slide img{
						/*width: auto;
						height: 400px;*/
						/*max-width: 200px;*/
						
					}

				/***** Arrows *****/
					.--dma_product_post_1_1>.layout>.slider .product_slider .swiper-button-next, 
					.--dma_product_post_1_1>.layout>.slider .product_slider .swiper-button-prev{
						background-image: none;
						font-size: 5.5rem;
						color: var(--black);
					}
					
					.--dma_product_post_1_1>.layout>.slider .product_slider .swiper-button-next:after, 
					.--dma_product_post_1_1>.layout>.slider .product_slider .swiper-button-prev:after{
						content: '';
					}

				/***** Thumbs *****/
					.product_slider_thumbs{
						width: 100%;
						max-width: 420px;
						margin: 35px auto 0px;
					}
					.product_slider_thumbs .swiper-wrapper{
						align-items: center;
					}
					.product_slider_thumbs .swiper-slide{
						mix-blend-mode: multiply;
						opacity: 50%;
						transition: .25s ease-in-out;
						display: flex;
						align-items: center;
						justify-content: center;
						height: 100%;

					}
					.product_slider_thumbs .swiper-slide img{
						height: auto;
						width: 100px;
					}
					.product_slider_thumbs .swiper-slide-thumb-active{
						opacity: 100%;
					}
				
			/***** Info *****/
				.--dma_product_post_1_1>.layout>.info{
					padding: 50px;
				}
				
				.--dma_product_post_1_1>.layout>.info>.info_1{
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: flex-start;
				}
				
				/***** Heading *****/
					.--dma_product_post_1_1>.layout>.info>.info_1 .heading{
						font-size: var(--font_heading_2);
						width: 100%;
						padding-bottom: 0px;
						border-bottom: 2px solid; 
						margin-bottom: 15px;
					}
				
				/***** Copy/Content *****/
					.--dma_product_post_1_1>.layout>.info>.info_1 .copy{
						font-size: var(--font_body_1);
						margin-bottom: 35px;
					}
					.--dma_product_post_1_1>.layout>.info>.info_1 .copy .subhead{
						font-size: var(--font_heading_3);
						margin-bottom: 5px;
					}
					.--dma_product_post_1_1>.layout>.info>.info_1 .copy ul span{
						width: 100px;
						display: inline-block;
					}

				/***** Buy Link *****/
					.--dma_product_post_1_1>.layout>.info>.info_1 .buy_link{
						font-size: var(--font_body_1);
						margin-bottom: 35px;
					}
					.--dma_product_post_1_1>.layout>.info>.info_1 .buy_link .button{
						background-color: var(--black);
						font-size: var(--font_heading_3);
						font-family: var(--label-r);
						display: inline-block;
						padding: 15px 25px;
						transform: rotate(-1.1deg);
					}
					
					.--dma_product_post_1_1>.layout>.info>.info_1 .buy_link .button>span{
						color: var(--white);
						transform: rotate(1.2deg);
					}
					.--dma_product_post_1_1>.layout>.info>.info_1 .buy_link .button:hover>span{
						text-decoration: underline;
					}

/********************************************

SPECIAL FX 
--search-fx

********************************************/
  /***** PAPER TEXTURE OVERLAY *****/
    .texture_paper_white{
      position: relative;
      background-color: var(--white);
      overflow: hidden;
    }
    .texture_paper_black{
      position: relative;
      background-color: var(--black);
      overflow: hidden;
    }

    [class*="texture_paper_"]:after {
      content:'';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: .5;
      pointer-events: none;
      background-image: url('/img/textures/natural-paper.png');
      background-repeat: repeat;
      mix-blend-mode: lighten;
      background-size: 10%;
    }

  /***** CARDBOARD TEXTURE OVERLAY *****/
    .texture_cardboard_white{
      position: relative;
      background-color: var(--white);
      overflow: hidden;
    }
    .texture_cardboard_black{
      position: relative;
      background-color: var(--black);
      overflow: hidden;
    }

    [class*="texture_cardboard_"]:after {
      content:'';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: .5;
      pointer-events: none;
      background-image: url('/img/textures/cardboard.png');
      background-repeat: repeat;
      mix-blend-mode: lighten;
    }

  /***** DUST TEXTURE OVERLAY *****/
    .texture_dust_white{
      position: relative;
      background-color: var(--white);
      overflow: hidden;
    }
    .texture_dust_black{
      position: relative;
      background-color: var(--black);
      overflow: hidden;
    }

    [class*="texture_dust_"]:after {
      content:'';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: .5;
      pointer-events: none;
      background-image: url('/img/textures/green-dust-and-scratches.png');
      background-repeat: repeat;
      mix-blend-mode: lighten;
      background-size: 100%;
    }
    
  