---
layout: layouts/home.njk
eleventyNavigation:
  key: About
  order: 5
---

<section class="--dma_about_1">
	<div class="container">
		<div class="--dma_heading">
			<div class="inner">
				<h1>About Us</h1>
			</div>
		</div>

		<p>We're just a couple of normal guys who decided to become heavy metal wizards.</p>
	</div>	
</section>

<section class="--dma_about_2">
	
	<div class="container">
		<div class="copy">
			
		</div>
		<div class="image">
			<!--<img src="">-->
		</div>
	</div>

</section>