---
layout: layouts/home.njk
eleventyNavigation:
  key: Contact
  order: 6
---

<section class="--dma_contact_1">
	<div class="container">
		<div class="--dma_heading">
			<div class="inner">
				<h1>Contact</h1>
			</div>
		</div>

		<p>Questions, comments, or suggestions? <br>Let us know in the form below.</p>
	</div>	
</section>

<section class="--dma_contact_2">
	<div class="container">
		
		<form class="--dma_form_full " action="https://formspree.io/xgendogz" method="POST">
			<input type="text" name="name" placeholder="Name*" required>
			<input type="email" name="email" placeholder="Email*" required>
			<textarea name="comments" placeholder="Comments"></textarea>
			<input class="button" type="submit" value="Submit">
		</form>

	</div>
</section>