---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---


<section class="--dma_home_1 container ">
	<div class="heading">
		<div class="inner">
			<h1>Pedals</h1>
		</div>
	</div>
	{% set postslist = collections.pedal %}
	{% include "postslist.njk" %}
</section>


<section class="--dma_home_1 container">
	
	<div class="heading">
		<div class="inner">
			<h2 class="heading">Merch</h2>
		</div>
	</div>
	{% set postslist = collections.merch %}
	{% include "postslist.njk" %}
</section>


<!--<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>-->
