---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Product Line</h1>

<!-- 
{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
-->

<section>
	{% set postslist = collections.pedal %}
	{% include "postslist.njk" %}
</section>

<h2>Merch</h2>
<section>
	{% set postslist = collections.merch %}
	{% include "postslist.njk" %}
</section>


<!--<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>-->
