---
layout: layouts/home.njk
eleventyNavigation:
  key: Merch
  order: 3
---

<section class="--dma_product_list_1">
	<div class="container">
		
		<!-- Breadcrumb -->
		<div class="breadcrumb">
			<a href="{{ '/' | url }}">Home</a> < <span class="current">Merch</span>
		</div>

		<h1>Merch</h1>
		{% set postslist = collections.merch %}
  		{% include "postslist.njk" %}
	</div>
</section>
