---
layout: layouts/home.njk
eleventyNavigation:
  key: Pedals
  order: 2
---

<section class="--dma_product_list_1">
	<div class="container">
		
		<!-- Breadcrumb -->
		<div class="breadcrumb">
			<a href="{{ '/' | url }}">Home</a> < <span class="current">Pedals</span>
		</div>

		<h1>Pedals</h1>
		{% set postslist = collections.pedal %}
  		{% include "postslist.njk" %}
	</div>
</section>
