<ul class="product_grid container">

{% for post in postslist | reverse %}
 
 <li class="product_grid-cell">
    
    <div class="product_grid-cell-inner">
    	<img src="">
    	<a href="{{ post.url | url }}" class="title">{{ post.data.title }}</a>
    	<p class="blurb">{{ post.data.blurb }}</p>

    	<a href="{{ post.url | url }}" class="cta">INFO</a>
    </div>

    
    
  </li>
  
{% endfor %}

</ul>
