<ul class="product_grid container">

{% for post in postslist | reverse %}
 
 <section class="product_grid-cell">
    
    <div class="product_grid-cell-inner">
    	<img class="image" src="{{ post.data.image }}" alt="">
    	<a class="title" href="{{ post.url | url }}" >
    		<h2>{{ post.data.title }}</h2>
    	</a>
    	<p class="blurb">{{ post.data.blurb }}</p>

    	<a href="{{ post.url | url }}" class="cta">INFO</a>
    </div>
    
  </section>
  
{% endfor %}

</ul>
