---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article class="container --dma_product_post_1">
	<!-- Breadcrumb -->
	<div class="breadcrumb">
		<a href="{{ '/' | url }}">< Home</a>
	</div>

	
	{{ content | safe }}
					

</article>
